@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font: "Inter", sans-serif;
  --fontStyle: normal;
  --inFont: 12px;

  --codeOne: #ffffff;
  --codeTwo: #ebebeb;
  --codeThree: #a1a1a1;
  --codeFour: #2e2e2e;
  --codeFive: #0bcc4f;
  --codeSix: #088946;
  --codeSeven: #07763c;
  --authCode: #0bb35c54;

  --trans: all 0.4s ease-in-out;
  --brOne: 3px;
  --brTwo: 10px;
  --brThree: 15px;
  --border: 1px solid var(--codeTwo);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

* {
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  font-family: var(--font);
  font-size: var(--inFont);
  font-style: var(--fontStyle);
  text-transform: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
}

body {
  background: var(--codeOne);
}

a {
  cursor: pointer;
  color: var(--codeFour);
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--codeFour);
}

select,
textarea,
input {
  padding: 10px;
  border-radius: var(--brOne);
  width: 100%;
  border: 1px solid var(--codeFour);
  color: var(--codeFour);
  background: transparent;
}

input:disabled {
  background-color: var(--codeTwo);
  color: var(--codeThree);
}

select,
textarea,
input::placeholder {
  color: var(--codeThree);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input[type="checkbox"] {
  appearance: none;
  /* For modern browsers */
  -webkit-appearance: none;
  /* For Safari */
  -moz-appearance: none;
  /* For Firefox */
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: black;
}

input[type="checkbox"]:checked::before {
  content: '✔';
  color: white;
  font-size: 14px;
  position: absolute;
  left: 3.5px;
  top: 0px;
}

select::-webkit-scrollbar {
  width: 15px;
}

select::-webkit-scrollbar-thumb {
  background-color: var(--codeThree);
  border-radius: var(--brTwo);
}

button {
  width: fit-content;
  cursor: pointer;
  transition: var(--trans);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--codeSix);
  color: var(--codeOne);
  border: 1px solid var(--codeSix);
  border-radius: var(--brOne);
  padding: 8px 30px;
}

select,
textarea,
input,
button:focus {
  outline: none;
}



/* ////////////// General styling ////////////// */

.wh {
  width: 100%;
}

.relative {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.centertext {
  text-align: center;
}

/* gaps */

.g5 {
  gap: 5px;
}

.g10 {
  gap: 10px;
}

.g15 {
  gap: 15px;
}

.g20 {
  gap: 20px;
}

/* flex */

.flex {
  display: flex;
  flex-direction: row;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.start {
  align-items: start;
  justify-content: start;
}

.end {
  align-items: end;
  justify-content: end;
}

.center-start {
  align-items: center;
  justify-content: start;
}

.start-center {
  align-items: start;
  justify-content: center;
}

.end-start {
  align-items: end;
  justify-content: start;
}

.start-end {
  align-items: start;
  justify-content: end;
}

.center-end {
  align-items: center;
  justify-content: end;
}

.end-center {
  align-items: end;
  justify-content: center;
}

.center-space {
  align-items: center;
  justify-content: space-between;
}

.justify-space {
  justify-content: space-between;
}


/* outlines */

.outline1 {
  outline: 1px solid blue;
}

.outline2 {
  outline: 1px solid limegreen;
}

.outline3 {
  outline: 1px solid orange;
}

/* fonts */
.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.headingBig {
  font-size: 32px;
  font-weight: 700;
}

.heading {
  font-size: 26px;
  font-weight: 600;
}

.headingSmol {
  font-size: 20px;
  font-weight: 500;
}

.textBig {
  font-size: 16px;
  font-weight: 400;
  transition: var(--trans);
}

.text {
  font-size: 14px;
  font-weight: 400;
}

.textSmol {
  font-size: 12px;
  font-weight: 400;
}

.error {
  font-size: 10px;
  font-weight: 400;
  color: red;
  width: 100%;
  padding: 0px 10px;
}

.failed {
  filter: drop-shadow(5px 5px 3px rgb(255, 166, 166));
  color: rgb(255, 0, 0);
}

.success {
  filter: drop-shadow(5px 5px 3px rgb(167, 255, 167));
  color: rgb(0, 189, 0);
}

/* hover disabled */

.hover {
  cursor: pointer;
  opacity: 1;
  transition: var(--trans);
}

.hover:hover {
  opacity: 0.6;
}


/* ////////////// UI styling ////////////// */
/* popup */
.popup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.732);
  transition: var(--trans);
  z-index: 10;
}

.popup-wrapper {
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  gap: 5px;
  background: white;
  padding: 15px;
  filter: drop-shadow(7px 7px 10px rgb(48, 48, 48));
}

.popup-btn {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-btn .popup {
  opacity: 0;
  bottom: -10px;
  transition: var(--trans);
}

.popup-btn.clicked .popup {
  opacity: 1;
  bottom: 0;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* header component*/
.scrollToTop {
  position: fixed;
  bottom: 90px;
  right: 10px;
  width: 50px;
  height: auto;
  cursor: pointer;
  z-index: 3;
  transition: var(--trans);
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 50px;
  height: auto;
  cursor: pointer;
  z-index: 3;
  transition: var(--trans);
}

.whatsapp:hover, .scrollToTop:hover {
  transform: scale(1.1);
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 150px;
}

.catHeader {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 150px;
  gap: 10px;
  background-color: var(--codeOne);
  border-top: var(--border);
  border-bottom: var(--border);
  position: sticky;
  top: -1px;
  z-index: 2;
}

.catItem {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding: 0px 20px;
  cursor: pointer;
}

.catItem:hover .textBig {
  color: var(--codeFive);
}

.searchCont {
  position: relative;
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContTwo {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchCont .MuiSvgIcon-root {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 25px;
  height: 25px;
  color: var(--codeThree);
  transition: var(--trans);
}

.searchContTwo .MuiSvgIcon-root {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 25px;
  height: 25px;
  color: var(--codeThree);
  transition: var(--trans);
}

.searchCont input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: var(--codeTwo);
  border-radius: var(--brThree);
  transition: var(--trans);
}

.searchContTwo input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: var(--codeTwo);
  border-radius: var(--brThree);
  transition: var(--trans);
}

.header-burger {
  display: none;
}

.header-burger .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  color: var(--codeFive);
}

.logo {
  width: 150px;
  object-fit: contain;
  aspect-ratio: 4/1;
  cursor: pointer;
}

.nav-mobile {
  gap: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-mobile .textBig {
  color: var(--codeThree);
  cursor: pointer;
  transition: var(--trans);
  white-space: nowrap;
}

.nav-mobile .textBig:hover {
  color: var(--codeFive);
}

.nav-mobile .MuiSvgIcon-root {
  width: 25px;
  height: 25px;
  color: var(--codeThree);
  transition: var(--trans);
  cursor: pointer;
}

.nav-mobile .MuiSvgIcon-root:hover {
  color: var(--codeFive);
}

.cartIcon {
  padding: 0px 0px 0px 20px;
  position: relative;
}

.cartcount {
  position: absolute;
  top: -8px;
  right: -7px;
  background-color: var(--codeFive);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  font-size: 10px;
  color: var(--codeOne);
  border-radius: 50%;
}

.hover-div {
  width: 120px;
  background-color: var(--codeOne);
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1), -4px 0px 6px -2px rgba(0, 0, 0, 0.1), 4px 0px 6px -2px rgba(0, 0, 0, 0.1);
  color: var(--codeOne);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  padding: 15px;
  top: 28px;
  left: 0px;
  opacity: 0;
  transform: translateY(-20px);
  transition: var(--trans);
  pointer-events: none;
  border-radius: var(--brOne);
  z-index: 3;
}

.hover-div.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.hover-div a {
  width: 100%;
  padding: 3px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--codeThree);
  transition: var(--trans);
}

.hover-div a:hover {
  color: var(--codeFour);
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  padding: 30px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  background-color: #1e1e1e;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 5;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: var(--trans);
}

.drawer.open {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
  opacity: 0;
  transition: var(--trans);
  visibility: hidden;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.drawer a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 14px;
  font-weight: 600;
  color: var(--codeOne);
}

.drawer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}



/* footer component*/
.whatsapp {
  position: fixed;
  bottom: 40px;
  right: 10px;
  width: 50px;
  height: auto;
  cursor: pointer;
  z-index: 2;
  transition: var(--trans);
}

.whatsapp:hover {
  transform: scale(1.1);
}

.footer {
  width: 100%;
  background-color: var(--codeSeven);
  padding: 30px 100px 0px 100px;
}

.footer-flex-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.footer-flex-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.payment-icon {
  width: 30px;
  height: auto;
  aspect-ratio: 4/3;
  object-fit: fill;
  filter: drop-shadow(2px 2px 2px var(--codeFour));
}


.footer-img {
  font-size: 80px;
  color: var(--codeOne);
}

.para-1 {
  font-size: 15px;
  font-family: var(--font);
  text-align: center;
  color: var(--codeOne);
}

.foSize {
  font-size: 14px;
  color: var(--codeOne);
}

.input-width {
  width: 300px;
  padding: 10px;
  background-color: var(--codeOne);
  border-radius: 2px;
}

.para-2 {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font);
  color: var(--codeOne);
  color: var(--codeOne);
}

.para-3 {
  font-size: 14px;
  font-family: var(--font);
  color: var(--codeOne);
}

.content-padding {
  padding: 10px 0px;
}

.mt {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.border-line-1 {
  border: 1px solid rgba(0, 0, 0, 0.093);
}

.footer-nav-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

.footer-flex-3 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.footer-flex-3 .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  color: var(--codeSeven);
  cursor: pointer;
}

.footer-input-con {
  display: inline-flex;
  background: white;
  width: auto;
  align-items: center;
  gap: 12px;
  padding-right: 6px;
  border-radius: 4px;
  overflow: hidden;
}

.footer-input-con input {
  flex-grow: 1;
  border: none;
}

.footer-input-con button {
  background: none;
  border: none;
  padding: 0px;
}

.footer-input-con svg {
  color: var(--codeThree);
}

.footer-header-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 30px;
}


/* page specific */
/* login & signup & otp & forgot password*/
.authBox {
  width: 100%;
  max-width: 500px;
  gap: 15px;
  padding: 20px;
  border: var(--border);
  border-radius: var(--brThree);
  background-color: var(--codeOne);
}

.otpBox {
  width: 50px;
}

.password span {
  position: absolute;
  right: 10px;
  top: 25%;
}

.password span .MuiSvgIcon-root {
  color: var(--codeThree);
  cursor: pointer;
}

/* profile */
.profile {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: var(--brTwo);
  padding: 20px;
  box-shadow: 2px 2px 5px #c7c7c7, -2px -2px 5px var(--codeTwo);
}

.name {
  font-size: 16px;
  font-weight: 600;
}

.verify .MuiSvgIcon-root {
  width: 17px;
  height: 17px;
  color: #565656;
}

.addressCard {
  width: 100%;
  max-width: 350px;
  min-width: 200px;
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #f7f7f7;
  border-radius: var(--brTwo);
  transition: var(--trans);
}

.addressCard:hover {
  background-color: var(--codeTwo);
  transform: translateY(-4px);
}

.addresses {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


/* pagination */
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pagination button:disabled {
  background-color: var(--codeTwo);
  color: var(--codeThree);
  border: 1px solid var(--codeThree);
  cursor: not-allowed;
}

.pagination span {
  font-size: 1.2rem;
}

.pagination button:hover:not(:disabled) {
  background-color: var(--codeOne);
  color: var(--codeFour);
}


/* image slider */
.slider-container {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--codeFour);
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: opacity;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  opacity: 0;
  transition: var(--trans);
}

.arrows .MuiSvgIcon-root {
  width: 40px;
  height: 40px;
  color: var(--codeTwo);
  cursor: pointer;
  transition: var(--trans);
  filter: drop-shadow(2px 2px 2px var(--codeFour));
}

.arrows .MuiSvgIcon-root:hover {
  color: var(--codeOne);
}

.dots {
  position: absolute;
  bottom: 10px;
  display: flex;
  gap: 7px;
  justify-content: center;
  opacity: 0;
  transition: var(--trans);
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--codeTwo);
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px var(--codeFour));
  transition: var(--trans);
}

.dot.active {
  background: var(--codeOne);
}

.slider-container:hover .arrows {
  opacity: 1;
}

.slider-container:hover .dots {
  opacity: 1;
}


/* Card Carousel - product card */
.product-slider-cont {
  position: relative;
  width: 100%;
}

.show-img-detail-sup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
}

.show-img-detail-sub {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.product-img-size {
  width: 100%;
  height: 250px;
  object-fit: fill;
}

.discount-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 3px 10px;
  border-radius: 15px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--codeFive);
  font-size: 12px;
  color: white;
  font-weight: 400;
}

.product-detail-info {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 8px;
}

.product-title {
  font-size: 14px;
}

.product-price {
  font-size: 16px;
  color: var(--codeFive);
  white-space: nowrap;
}

.product-discount {
  text-decoration: line-through;
  font-size: 13px;
  color: var(--codeThree);
  white-space: nowrap;
}

.starCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}

.star .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  color: gold;
}

.dullStar .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  color: var(--codeThree);
}

/* contact us */
.contactustext {
  font-size: 14px;
  font-weight: 600;
  color: var(--codeSix);
}

.contact-us-title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  font-family: var(--font);
}

.para-4 {
  font-size: 25px;
  font-weight: 600;
  font-family: var(--font);
}

.message-box-text {
  width: 100%;
  height: 150px;
}

.footer-flex-4 {
  display: flex;
  justify-content: start;
  gap: 100px;
}

.contact-us-wrapper {
  display: grid;
  grid-template-columns: 4fr 3fr;
  gap: 50px;
}

.icon-con-wrapper {
  display: flex;
  column-gap: 20px;
  align-items: center;
  margin-top: 15px;
}

.icon-con {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--trans);
  cursor: pointer;
}

.icon-con:hover {
  transform: translateY(-4px);
}

.icon-con svg {
  font-size: 20px !important;
  color: white !important;
}

.icon-con.facebook {
  background-color: #4867aa;
}

.icon-con.instagram {
  background: radial-gradient(circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%);
}

.icon-con.x {
  background-color: black;
}

.icon-con.youtube {
  background-color: red;
}

.contact-us-input-con {
  padding: 30px;
  box-shadow: 2px 2px 5px #c7c7c7, -2px -2px 5px var(--codeTwo);
  border-radius: 12px;
}

.contact-us-input-con form input,
.contact-us-input-con form textarea {
  border-radius: 4px !important;
  border: 1px solid rgba(128, 128, 128, 0.52);
}



/* product detail page  */
.proDetext {
  color: gray;
  line-height: 24px;
}

.pdCont {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

.pdContDetail {
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/* image slider pd */
.pdContImg {
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.slider-containerpd {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-imagepd {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.slider-containerpd:hover .arrows {
  opacity: 1;
}

.slider-containerpd:hover .dots {
  opacity: 1;
}

.smallImages {
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smolImg {
  width: 60px;
  height: 60px;
  object-fit: fill;
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px var(--codeOne));
  transition: var(--trans);
}

.smolImg.active {
  filter: drop-shadow(2px 2px 2px var(--codeFour));
  transform: scale(1.1);
}

.starContTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}

.starContTwo .textBig {
  font-size: 20px;
  line-height: 0px;
}

.starTwo .MuiSvgIcon-root {
  width: 26px;
  height: 26px;
  color: gold;
}

.dullStarTwo .MuiSvgIcon-root {
  width: 26px;
  height: 26px;
  color: var(--codeThree);
}

.starContThree {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}

.starThree .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  color: gold;
}

.dullStarThree .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  color: var(--codeThree);
}

.starContFour {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3px;
}

.starFour .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  color: gold;
  cursor: pointer;
}

.dullStarFour .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  color: var(--codeThree);
  cursor: pointer;
}

.starContFive {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}

.starFive .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  color: gold;
  cursor: pointer;
}

.dullStarFive .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  color: var(--codeThree);
  cursor: pointer;
}

.product-priceTwo {
  font-size: 23px;
  color: var(--codeSix);
}

.product-discounTwo {
  text-decoration: line-through;
  font-size: 17px;
  color: var(--codeThree);
}

.discount-iconTwo {
  padding: 3px 10px;
  border-radius: 15px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ff7979;
  font-size: 15px;
  color: white;
  font-weight: 400;
}

.product-priceThree {
  font-size: 20px;
  color: var(--codeSix);
  white-space: nowrap;
}

.product-discounThree {
  text-decoration: line-through;
  font-size: 14px;
  color: var(--codeThree);
  white-space: nowrap;
}

.discount-iconThree {
  padding: 3px 8px;
  border-radius: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--codeFive);
  font-size: 12px;
  color: white;
  font-weight: 400;
  white-space: nowrap;
}

.pdFeatureIcons {
  width: 100%;
  gap: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--codeTwo);
  border-radius: var(--brTwo);
}

.pdFeatureIcons div {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pdFeatureIcons div img {
  width: 60px;
  height: 60px;
}

.pdFeatureIcons div .text {
  white-space: nowrap;
}

.plusMinusCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--codeSix);
  border-top-left-radius: var(--brOne);
  border-top-right-radius: var(--brOne);
  border-bottom-left-radius: var(--brOne);
  border-bottom-right-radius: var(--brOne);
  gap: 0px;
}

.plusMinusCont div {
  padding: 6px 12px;
  cursor: pointer;
}

.plusMinusCont .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  color: var(--codeOne);
}

.plusMinusCont input {
  border: 1px solid var(--codeSix);
  width: 111px;
  text-align: center;
  background-color: var(--codeOne);
}

.payBtn {
  width: 100%;
  max-width: 200px;
  background-color: var(--codeSix);
  border: none;
}

.estimated img {
  width: 24px;
  height: 24px;
}

.estimated .text {
  font-size: 16px;
}

/* product detail ratings */

.ratings {
  width: 100%;
  padding-top: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid var(--codeTwo);
  border-bottom: 1px solid var(--codeTwo);
}

.ratingCont {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ratingBox {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ratingline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.ratingline p {
  width: 20px;
  text-align: left;
  color: var(--codeThree);
  font-size: 14px;
}

.line {
  width: 150px;
  height: 10px;
  background-color: var(--codeTwo);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.yellowline {
  background-color: #FFC107;
  height: 100%;
  position: absolute;
}

/* forms review & question */
.reviewForm,
.questionForm {
  width: 100%;
  max-width: 700px;
  gap: 15px;
  padding: 20px;
  border: 1px solid var(--codeTwo);
  border-radius: var(--brOne);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}

/* image uploader  */
.upload-label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  border: 2px dashed var(--codeThree);
  border-radius: var(--brOne);
  color: var(--codeThree);
  font-size: 16px;
}

.preview-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.preview-box {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid var(--codeThree);
  border-radius: var(--brOne);
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delete-icon {
  position: absolute;
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2px;
  right: 2px;
  background-color: var(--codeOne);
  border-radius: 50%;
  padding: 2px;
}

.delete-icon .MuiSvgIcon-root {
  color: var(--codeFour);
  width: 18px;
  size: 18px;
  transition: var(--trans);
}

.delete-icon:hover .MuiSvgIcon-root {
  color: red;
}

/* r and q section*/
.randqCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0px;
}

.sortToggle {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--codeTwo);
  border-top: 1px solid var(--codeTwo);
}

.reviewList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.reviewBox {
  width: 100%;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--codeTwo);
  border-top: 1px solid var(--codeTwo);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.reviewprocont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.reviewprocont .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  color: var(--codeThree);
}

.reviewImages {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.reviewImages img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: var(--brOne);
}

.questionList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.questionBox {
  width: 100%;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--codeTwo);
  border-top: 1px solid var(--codeTwo);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.questionprocont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.questionprocont .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  color: var(--codeThree);
}

.questionList {
  display: none;
}

.questionList.visible {
  display: flex;
}

.questionList.hidden {
  display: none;
}

.reply {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 5px;
  background-color: #08894642;
  border-radius: var(--brOne);
}

.reply .textBig {
  font-size: 14px;
  font-weight: 600;
}

.reviewListSort,
.reviewList {
  display: none;
}

.reviewListSort.visible,
.reviewList.visible {
  display: flex;
}

.reviewListSort.hidden,
.reviewList.hidden {
  display: none;
}

.reviewListSort {
  width: fit-content;
  color: var(--codeSix);
  border: 1px solid var(--codeSix);
}

.toggleBtn {
  background: var(--codeTwo);
  color: var(--codeFour);
  cursor: pointer;
  transition: var(--trans);
  border: none;
}

.toggleBtn.active {
  background: var(--codeSix);
  color: var(--codeOne);
}

.toggleBtn:not(.active):hover {
  background: var(--codeThree)
}

/* you may also like  */
.youlike {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* home - category  */
.category {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
  gap: 15px;
}

.cate-item {
  height: 280px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--brTwo);
  cursor: pointer;
  overflow: hidden;
}

.cate-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
  transition: var(--trans);
}

.cate-item img:hover {
  transform: scale(1.2);
}

.cate-item .heading {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--codeOne);
  filter: drop-shadow(2px 2px 2px var(--codeFour));
}

/* cart page  */
.cartPriceBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.cartCont {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.cartDetailCont {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cartProducts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cartproCont {
  width: 100%;
  gap: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background: var(--codeOne);
  box-shadow: 2px 2px 5px #c7c7c7, -2px -2px 5px var(--codeTwo);
  border-radius: var(--brTwo);
  transition: var(--trans);
}

.cartproCont:hover {
  transform: translateY(-4px);
}

.cartImg {
  width: 110px;
  height: 110px;
  object-fit: fill;
  border-radius: var(--brTwo);
}

.cartDetail {
  width: 100%;
  gap: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.cartDetail button {
  padding: 5px 10px;
  background-color: var(--codeOne);
  color: #ff7979;
  border-radius: var(--brTwo);
  border: 1px solid #ff7979;
  transition: var(--trans);
}

.cartDetail button:hover {
  background-color: #ff7979;
  color: var(--codeOne);
}

.cartBtnsCont {
  width: 100%;
  max-width: 200px;
  min-width: 180px;
  gap: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plusMinusCartCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--codeSix);
  border-top-left-radius: var(--brOne);
  border-top-right-radius: var(--brOne);
  border-bottom-left-radius: var(--brOne);
  border-bottom-right-radius: var(--brOne);
  gap: 0px;
}

.plusMinusCartCont div {
  padding: 6px 12px;
  cursor: pointer;
}

.plusMinusCartCont .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  color: var(--codeOne);
}

.plusMinusCartCont input {
  border: 1px solid var(--codeSix);
  width: 100%;
  text-align: center;
  background-color: var(--codeOne);
  border-radius: var(--brOne);
}

.cartCalc {
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  gap: 30px;
  background: var(--codeOne);
  box-shadow: 2px 2px 5px #c7c7c7, -2px -2px 5px var(--codeTwo);
  border-radius: var(--brTwo);
}

.applyInput {
  border: 1px solid var(--codeSix);
  color: var(--codeSix);
}

.applyBtn {
  width: 100%;
  background-color: var(--codeOne);
  border: 1px solid var(--codeSix);
  color: var(--codeSix);
}

.applyBtn:hover {
  background-color: var(--codeSix);
  color: var(--codeOne);
}

/* short video component  */
.video-con-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 230px);
  gap: 14px;
  overflow-x: scroll;
  justify-content: center;
  width: 100%;
}

.video-con .video {
  border-radius: 12px;
  width: 230px !important;
  height: 100%;
}

.video-con {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.video-info {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgb(0 0 0 / 6%) 26%, rgba(110, 110, 110, 0) 76%, rgb(0 0 0 / 78%) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  pointer-events: none;
}

.video-btn-play {
  background-color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 50%;
  margin-left: auto;
  pointer-events: all;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.356);
}

.video-product-con {
  display: flex;
  gap: 14px;
  color: white;
  pointer-events: all;
}

.video-product-con img {
  height: 40px;
  border-radius: 6px;
}

/* popup videcon */
.video-con.popup-video {
  width: 300px !important;
}

.video-popup-video {
  width: 300px !important;
  height: 100%;
  border-radius: 12px;
}

.popup .video-close-btn {
  color: white;
  margin-right: 0px;
  position: absolute;
  right: 20px;
  top: 100px;
}

.popup .video-close-btn svg {
  font-size: 32px;
  cursor: pointer;
}

/* popular card */
.popular-card-wrapper {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.popular-card-wrapper img {
  width: 550px;
  border-radius: 16px;
  transition: all 0.4s;
}

.popular-card-wrapper img:hover {
  transform: translateY(-4px);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.225);
}

.custom-scroll::-webkit-scrollbar {
  display: none;
}




/* infinite slider styling */
.slider-inf {
  margin: 20px auto auto auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide_track-inf {
  display: flex;
  width: calc(100px * 22);
  animation: scroll 70s linear infinite;
  /* 22 items so 22 and 180px slide width*/
}

.slide_track-inf:hover {
  animation-play-state: paused;
}

/* 22 items so 11 and 180px slide width */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100px * 11));

  }
}

.slide-inf {
  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  perspective: 100px;
}

.slide-inf img {
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 16px !important;
  object-fit: contain;
  object-position: center center;
}

.slider-inf::before {
  left: 0;
  top: 0;
}

.slider-inf::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.smallImage {
  cursor: pointer;
}


/* category page */
.sortCat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sortCat select {
  width: fit-content;
}
.categoryGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 10px;
  gap: 10px;
}

/* order */
.orderCont {
  width: 100%;
  max-width: 900px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.orderproCont {
  width: 100%;
  gap: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: var(--codeOne);
  box-shadow: 2px 2px 5px #c7c7c7, -2px -2px 5px var(--codeTwo);
  border-radius: var(--brTwo);
  transition: var(--trans);
}

.orderproCont:hover {
  transform: translateY(-4px);
}

.orderview {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.orderBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.orderBtns .cancel {
  padding: 5px 10px;
  background-color: var(--codeOne);
  color: #ff7979;
  border: 1px solid #ff7979;
  transition: var(--trans);
}

.orderBtns .cancel:hover {
  background-color: #ff7979;
  color: var(--codeOne);
}

.orderBtns .view {
  padding: 5px 10px;
  background-color: var(--codeOne);
  color: var(--codeFive);
  border: 1px solid var(--codeFive);
  transition: var(--trans);
}

.orderBtns .view:hover {
  background-color: var(--codeFive);
  color: var(--codeOne);
}

.orderProducts {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.opItem {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  border: 1px solid var(--codeTwo);
  border-radius: var(--brOne);
}
.opItem .textSmol {
  font-size: 10px;
}
.opItem img {
  width: 100%;
  height: auto;
  object-fit: fill;
  aspect-ratio: 4/3;
}
.opDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
}

/* search page */


/* bulk order page  */
.conCont {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.canCard {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px #c7c7c7, -2px -2px 5px var(--codeTwo);
  border-radius: var(--brTwo);
  transition: var(--trans);
}

.canCard:hover {
  transform: translateY(-6px);
}

.canCard button {
  background-color: var(--codeOne);
  color: var(--codeSix);
}

.canCard button:hover {
  background-color: var(--codeSix);
  color: var(--codeOne);
}

.canCard .MuiSvgIcon-root {
  width: 90px;
  height: 90px;
  color: var(--codeSix);
}


.bulkOrder {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 2px 2px 5px #c7c7c7, -2px -2px 5px var(--codeTwo);
  border-radius: var(--brTwo);
  padding: 30px;
  gap: 20px;
}

.inputCont {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.inputCol {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}


/* about us page  */
.section-con {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

.section-con img {
  border-radius: 9px;
  width: 100%;
  max-width: 600px;
}

.section-con h3 {
  color: var(--codeSeven);
}

.call-us-con {
  display: inline-flex;
  margin-top: 30px;
  gap: 10px;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(8deg);
  }

  50% {
    transform: rotate(0eg);
  }

  75% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.call-us-con:hover.call-us-con .icon-con {
  scale: 1.03;
  animation: tilt-shaking 0.25s infinite;
}

.call-us-con a {
  font-weight: 600;
}

.call-us-con .icon-con {
  background-color: var(--codeSix);
}

.text-center {
  text-align: center;
}

.why-choose-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  margin-top: 60px;
}

.why-choose-card {
  border-radius: 20px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.213);
  text-align: center;
}

.why-choose-card h3 {
  color: var(--codeSeven);
  font-weight: 700;
}

.card-icon-wrapper {
  display: flex;
  justify-content: center;
}

.card-icon-wrapper .icon-con {
  display: flex;
  justify-content: center;
  border: 2px dashed var(--codeSeven);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  margin-top: -50px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.109);
  background-color: white;
}

.card-icon-wrapper .icon-con img {
  width: 35px;
}

.join-us-con {
  border-radius: 16px;
  background-color: var(--codeSix);
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.join-us-con h3,
.join-us-con p {
  color: white;
  line-height: 20px;
}

.join-us-con img {
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  mix-blend-mode: color-burn;
  pointer-events: none;
}

.join-us-con p {
  margin-top: 15px;
  color: rgb(255, 255, 255);
}

.our-values-ul li {
  margin-top: 30px;
}

.our-values-ul li p span {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-right: 10px;
  text-wrap: nowrap;
  font-weight: 600;
  color: var(--codeSeven);
  margin-bottom: 8px;
}

.our-values-ul li p h3 {
  color: var(--codeSeven);
}


/* static pages  */
.bg-gray-shadow {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  padding: 30px;
  width: 100%;
  background-color: rgba(213, 213, 213, 0.039);
}

.bg-gray-shadow p {
  color: rgb(46, 46, 46);
}

.policy-ul {
  list-style-type: disc;
  display: block;
}

.policy-ul li {
  list-style: disc outside none;
  display: list-item;
  margin-left: 1em;
  margin-bottom: 12px;
  color: rgb(46, 46, 46);
}



/* common */
.homepage {
  background: var(--codeOne);
  width: 100%;
  padding: 40px 100px 40px 100px;
  gap: 30px;
}

.page {
  background: var(--codeOne);
  width: 100%;
  padding: 40px 100px 40px 100px;
  gap: 30px;
}

.pageBox5 {
  width: 100%;
  gap: 5px;
}

.minBox {
  width: 100%;
  gap: 5px;
}


/* responsiveness */
@media screen and (max-width: 1300px) {
  .order-wrapper {
    grid-template-columns: 1fr;
  }

  .search-con {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1200px) {

  /* Styles for screens up to 1200px */

  .section-con {
    grid-template-columns: 1fr;
  }

  .why-choose-card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  }
  /* popular card */
  .popular-card-wrapper {
    overflow-x: auto;
    justify-content: start;
  }

  .video-con-wrapper {
    grid-template-columns: repeat(4, 210px);
    justify-content: start;
  }

  .video-con .video {
    width: 210px !important;
  }

  /* contact us  */
  .contact-us-wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .footer-nav-item {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (max-width: 1100px) {

  input[type="checkbox"]:checked::before {
    content: '✔';
    color: white;
    font-size: 14px;
    position: absolute;
    left: 3.5px;
    top: -2px;
  }

  select,
  textarea,
  input {
    padding: 5px 10px;
  }

  .plusMinusCont div {
    padding: 2px 12px;
    cursor: pointer;
  }

  button {
    padding: 5px 20px;
  }

  .headingBig {
    font-size: 28px;
    font-weight: 700;
  }

  .heading {
    font-size: 22px;
    font-weight: 600;
  }

  .headingSmol {
    font-size: 16px;
    font-weight: 500;
  }

  .textBig {
    font-size: 14px;
    font-weight: 400;
  }

  .estimated .text {
    font-size: 14px;
  }

  .text {
    font-size: 12px;
    font-weight: 400;
  }

  .textSmol {
    font-size: 10px;
    font-weight: 400;
  }

  .proDetext {
    color: gray;
    line-height: 18px;
  }

  .starContTwo .textBig {
    font-size: 16px;
    line-height: 0px;
  }

  .starTwo .MuiSvgIcon-root {
    width: 20px;
    height: 20px;
    color: gold;
  }

  .dullStarTwo .MuiSvgIcon-root {
    width: 20px;
    height: 20px;
    color: var(--codeThree);
  }

  .product-priceTwo {
    font-size: 16px;
    color: var(--codeSix);
  }

  .product-discounTwo {
    text-decoration: line-through;
    font-size: 14px;
    color: var(--codeThree);
  }

  .discount-iconTwo {
    padding: 2px 8px;
    border-radius: 12px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ff7979;
    font-size: 13px;
    color: white;
    font-weight: 400;
  }

  .verify .MuiSvgIcon-root {
    width: 15px;
    height: 15px;
  }

  .homepage, .page {
    padding: 20px;
    gap: 20px;
  }

  .otpBox {
    width: 30px;
  }

  .password span {
    position: absolute;
    right: 10px;
    top: 15%;
  }

  .footer {
    padding: 20px;
  }

  .input-width {
    width: 200px;
  }

  .footer-img {
    font-size: 60px;
  }

  .para-1 {
    font-size: 14px;
  }

  .foSize {
    font-size: 13px;
  }

  .para-3 {
    font-size: 13px;

  }

  .footer-header-con {
    justify-content: center;
  }

  /* order  */
  .order-con {
    align-items: start;
  }

  .search-con {
    grid-template-columns: repeat(2, 1fr);
  }

  .hover-div {
    width: 100px;
    top: 28px;
    left: -50px;
  }

  .header {
    padding: 20px;
  }

  .catHeader {
    padding: 10px 20px;
  }

  .logo {
    width: 140px;
  }

  /* Styles for screens up to 1024px */
  .cartCont {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
  }

  .cartCalc {
    width: 100%;
    max-width: 100%;
    padding: 15px;
    gap: 10px;
  }

  .plusMinusCartCont div {
    padding: 3px 8px;
    cursor: pointer;
  }
}

@media screen and (max-width: 830px) {

  .pdCont {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .header-burger {
    display: flex;
  }

  .catHeader,
  .searchCont {
    display: none;
  }
}

@media screen and (max-width: 750px) {

  .searchCont {
    width: 100%;
    max-width: 300px;
    margin: 0px 20px;
  }

  .productList {
    grid-template-columns: 1fr;
    padding: 20px;
    justify-content: center;
    justify-items: center;
  }

  .productList img {
    min-width: 230px;
    max-width: 200px;
  }

  .product-detail-info {
    align-items: center;
    margin-top: 0px;
  }

  .productList button {
    width: 100%;
  }

  .productList .headingSmol {
    padding: 10px 0px;
  }

  .productList .product-detail-info {
    margin-top: 0px;
  }

  .why-choose-card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .conCont {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
  }

  /* order  */

  .order-con {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .order-con-two {
    padding-right: 40px;
  }
}

@media screen and (max-width: 660px) {

   /* policy page */
   .bg-gray-shadow {
    box-shadow: none;
    padding: 0px;
    background-color: none;
  }

  .bulkOrder {
    gap: 15px;
  }
  .inputCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .inputCol {
    width: 100%;
    gap: 5px;
  }

  /* cart page */

  .cartDetail button {
    padding: 2px 7px;
    font-size: 11px;
  }

  .cartImg {
    width: 70px;
    height: 70px;
  }

  .cartDetailCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .cartDetail {
    width: 100%;
    gap: 2px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .cartBtnsCont {
    width: 100%;
    min-width: 100px;
    gap: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  .plusMinusCartCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--codeSix);
    border-top-left-radius: var(--brOne);
    border-top-right-radius: var(--brOne);
    border-bottom-left-radius: var(--brOne);
    border-bottom-right-radius: var(--brOne);
    gap: 0px;
  }

  .plusMinusCartCont div {
    padding: 2px 4px;
    cursor: pointer;
  }

  .plusMinusCartCont .MuiSvgIcon-root {
    width: 13px;
    height: 13px;
    color: var(--codeOne);
  }

  .plusMinusCartCont input {
    width: 40px !important;
    padding: 2px 8px;
    border: 1px solid var(--codeSix);
    width: 100%;
    text-align: center;
    background-color: var(--codeOne);
    border-radius: var(--brOne);
  }

  .product-priceThree {
    font-size: 14px;
    color: var(--codeSix);
    white-space: nowrap;
  }

  .product-discounThree {
    text-decoration: line-through;
    font-size: 12px;
    color: var(--codeThree);
    white-space: nowrap;
  }

  .discount-iconThree {
    padding: 2px 8px;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--codeFive);
    font-size: 11px;
    color: white;
    font-weight: 400;
    white-space: nowrap;
  }

}

@media screen and (max-width: 640px) {

  .order-con-one {
    overflow-x: auto;
    flex-wrap: nowrap;
    padding-right: 50px;
  }

  .search-con {
    grid-template-columns: repeat(1, 1fr);
  }

  /* popular card */
  .popular-card-wrapper img {
    width: 400px;
  }

  .ratingCont {
    width: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .ratingBox {
    padding: 5px;
  }

  .footer {
    padding: 20px;
  }

  .footer-img {
    font-size: 50px;
  }

  .para-1 {
    font-size: 13px;
  }

  .foSize {
    font-size: 12px;
  }

  .para-3 {
    font-size: 12px;
  }

  .pagination {
    justify-content: center;
    align-items: center;
  }

  .footer-nav-item {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .footer-img {
    font-size: 50px;
  }

  .foSize {
    font-size: 12px;
  }

  .footer {
    padding: 20px;
  }

  .input-width {
    width: 100%;
  }

  .footer-img {
    font-size: 50px;
  }

  .para-1 {
    font-size: 13px;
  }

  .foSize {
    font-size: 12px;
  }

  .footer-flex-4 {
    display: block;
  }

  /* order */

  .order-con-wrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 550px) {

  .sortCat {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
  }

  .scrollToTop, .whatsapp {
    width:  40px;
  }

  .logo {
    width: 100px;
  }

  .product-slider-cont {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  /* popular card */
  .popular-card-wrapper img {
    width: 300px;
    border-radius: 16px;
    transition: all 0.4s;
  }

  .contact-us-input-con {
    padding: 15px;
    border-radius: 12px;
  }

  .footer-flex-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
  }

  .smolImg {
    width: 50px;
    height: 50px;
  }

  .footer-nav-item {
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
  }

  .pdFeatureIcons {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .pdFeatureIcons div img {
    width: 50px;
    height: 50px;
  }

  .header {
    padding: 15px 20px;
    border-bottom: var(--border);
  }

  .catHeader {
    padding: 10px 20px;
  }
}
